body {
  background: rgb(118, 255, 206);
  background: linear-gradient(
    83deg,
    rgba(118, 255, 206, 1) 0%,
    rgba(255, 233, 101, 1) 100%,
    rgba(255, 233, 101, 1) 100%
  );
  margin-top: -16px;
}

.custom-form-2 {
  background-color: aliceblue;
  border-radius: 10px;
}

.login-header {
  text-align: center;
}

footer {
  margin-bottom: -16px;
  bottom: -20;
}
