{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'app/css/registration.css' %}">
{% endblock style %}
{% block body_block %}

<style>
    .add-items-cart a {
        margin: 10px;
    }
</style>

<div class="container my-5">
    <div class="row">
        <h1 class="text-center mb-1">Your Cart</h1>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3>Cart</h3>
                    <div>
                        <h5>Add more items to your cart:</h5>
                        <div class="add-items-cart">
                            <a href="/#items" class="btn btn-primary">Add more items</a>
                        </div>
                    </div>
                    <!-- <h5 class="add-items-cart">Add more items to cart: <a href="/#vegetables"
                            class="btn btn-primary mx-2">Add
                            Vegetables.</a><a href="/#groceries" class="btn btn-primary mx-2">Add
                            Groceries.</a>
                        <a href="/#dairy" class="btn btn-primary mx-2">Add
                            Dairy.</a>
                    </h5> -->
                    {% for cart in carts %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-center align-self-center"><img
                                src="{{ cart.product.product_img.url }}" alt="" srcset=""
                                class="img-fluid img-thumbnail shadow-sm" height="150" width="150"> </div>
                        <div class="col-sm-9">
                            <div>
                                <h5>{{cart.product.title}}</h5>
                                <p class="mb-2 text-muted small">{{cart.product.description }}</p>
                                {% comment %} <div class="my-3">
                                    <label for="quantity">Quantity: </label>
                                    <a class="minus plus subtract-cart btn material-icons"
                                        pid="{{cart.product.id}}"><span class="material-icons-two-tone">
                                            remove
                                        </span></a>
                                    <span class="num" id="quantity">{{cart.quantity}}</span>{{cart.product.unit}}
                                    <a class="add minus add-cart btn material-icons" pid="{{cart.product.id}}"><span
                                            class="material-icons-two-tone">
                                            add
                                        </span></a>
                                </div> {% endcomment %}
                                <div class="d-flex justify-content-between">
                                    <a href="" class="btn btn-sm btn-secondary mr-3 delete-cart"
                                        pid="{{cart.product.id}}">Remove item
                                    </a>
                                    <p class="mb-0"><span><strong>Rs. {{cart.product.price}}</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="text-muted">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="padding: 10px;">
                <div class="card-body">
                    <h3>ORDER TOTAL</h3>
                    <ul class="list-group">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Amount<span>Rs. <span id="amount"> {{amount}} </span> </span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping<span><i>Rs. 25 for orders below Rs.250.</i></span></li>
                        <!-- {% if total_amount >= 250 %}
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping<span><b>FREE DELIVERY</b></span></li>
                        {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping<span>Rs.
                                25.00</span></li>
                        {% endif %} -->
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total</strong>
                            </div>
                            <span><strong>Rs. <strong id="total_amount"> {{total_amount}} </strong> </strong></span>
                        </li>
                    </ul>
                    <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-primary">Continue</a></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body_block %}