{% extends 'app/base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'app/css/home.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



{% endblock style %}

{% block banner %}

<section class="main-banner">
    <div class="heading">
        <div class="image">
            <img src="{% static 'app/images/banner/main-banner2.png' %}" alt="">
        </div>
        <div class="info">
            <h1>Brandz City</h1>
            <p>One Stop Shop for Branded Shoes</p>
            <a href="#shoes" class="btn btn-primary">Shop Now</a>
        </div>
    </div>
</section>




<div class="sel-bg">
    <div class="container banner-icons-main">
    
        <div class="container my-4 banner-icons" style="background-color: rgb(252, 243, 110);; width:30%;">
            <a href="#adidas"><img src="{% static 'app/images/banner/adidas.png' %}" alt=""></a>
        </div>
        <div class="container my-4 banner-icons" style="background-color: rgb(252, 243, 110); width:30%;">
            <a href="#nike" style="margin:10px;"><img src="{% static 'app/images/banner/nike.png' %}" alt=""></a>
        </div>
    </div>
</div>







<!-- Live Sale Section -->
<div class="container">
    <div class="row text-center p-4 text-white border-bottom shadow sale-banner1" style="background-color: rgb(128, 7, 7);">
        <h5>FREE DELIVERY ALL OVER RATNAGIRI</h5>
        <span></span>
    </div>
</div>

<!-- End Live Sale Section -->
{% endblock banner %}


{% block body_block %}
<section class="products">


    <section class="brandz" id="shoes">
        <div class="product-heading">
            <h2>Shoes</h2>
            <div class="sub-product-heading">
                <p>All new collection of Adidas and Sketchers</p>
                <p>YOU CAN ADJUST THE QUANTITY IN THE CART SECTION</p>
            </div>
        </div>
        <hr>
        <div class="container main" id="items">
            <div class="container sub-main1 gro">


                {% for s in shoes %}
                
                <div class="card custom-card">
                    {% comment %} <a href="{% url 'product_detail' s.id %}" style="text-decoration: none; background-color: #ccffa9"> {% endcomment %}
                        <div class="product_img">
                            <img src="{{s.product_img.url}}" class="pro-img card-img-top" alt="...">
                        </div>
                    {% comment %} </a> {% endcomment %}
                    <div class="card-body">
                        <h5 class="card-title">{{s.title}}</h5>
                        <p class="card-text">RS. {{s.price}}/{{s.unit}}</p>
                        <p>Size available: {{s.size_available}}</p>
                        {% if s.is_active == False or s.quantity == 0 %}
                        {% comment %} <h3>Out of stock</h3> {% endcomment %}
                        <div class="col-12"><b>Out of stock</b></div>
                        {% else %}
                        <div class="add_cart_item">
                            <a href="{% url 'product_detail' s.id %}" class="btn btn-primary px-4 btn-order">Buy</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>


    <!-- Product Section 2 -->
    <section class="brandz" id="crocs">
        <div class="product-heading">
            <h2>Crocs</h2>
            <div class="sub-product-heading">
                <p>YOU CAN ADJUST THE QUANTITY IN THE CART SECTION</p>
            </div>
        </div>

        <hr>
        <div class="container main" id="items">
            <div class="container sub-main1 gro">
                {% for c in crocs %}
                
                <div class="card">
                    {% comment %} <a href="{% url 'product_detail' c.id %}" style="text-decoration: none; background-color: #ffd588;"> {% endcomment %}
                        <div class="product_img">
                            <img src="{{c.product_img.url}}" class="pro-img card-img-top" alt="...">
                        </div>
                    {% comment %} </a> {% endcomment %}
                    <div class="card-body">
                        <h5 class="card-title">{{c.title}}</h5>
                        <p class="card-text">RS. {{c.price}}</p>
                        {% if c.is_active == False or c.quantity == 0 %}
                        {% comment %} <h3>Out of stock</h3> {% endcomment %}
                        <div class="col-12"><b>Out of stock</b></div>
                        {% else %}
                        <div class="add_cart_item">
                            <a href="{% url 'product_detail' c.id %}" class="btn btn-primary px-4 btn-order">Buy</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- Product Section 3 -->
    <section class="brandz" id="flips">
        <div class="product-heading">
            <h2>Flip FLops</h2>
            <div class="sub-product-heading">
                <p>YOU CAN ADJUST THE QUANTITY IN THE CART SECTION</p>
            </div>
        </div>

        <hr>
        <div class="container main" id="items">
            <div class="container sub-main1 gro">
                {% for f in flips %}
                
                <div class="card">
                    {% comment %} <a href="{% url 'product_detail' f.id %}" style="text-decoration: none; background-color: #a4ffdf;"> {% endcomment %}
                        <div class="product_img">
                            <img src="{{f.product_img.url}}" class="pro-img card-img-top" alt="...">
                        </div>
                    {% comment %} </a> {% endcomment %}
                    <div class="card-body">
                        <h5 class="card-title">{{f.title}}</h5>
                        <p class="card-text">RS. {{f.price}}/{{f.unit}}</p>
                        {% if f.is_active == False or f.quantity == 0 %}
                        {% comment %} <h3>Out of stock</h3> {% endcomment %}
                        <div class="col-12"><b>Out of stock</b></div>
                        {% else %}
                        <div class="add_cart_item">
                            <a href="{% url 'product_detail' f.id %}" class="btn btn-primary px-4 btn-order">Buy</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                {% endfor %}

            </div>
        </div>
    </section>
</section>




{% endblock body_block %}